.black_border {
    border: black 4px solid;
    border-radius: 10px;
}
.centered {
    margin: auto;
}
.orange_bg {
    background-color: #F2891C !important;
}

.top_container {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    width: fit-content;
    display: flex;
}
.left_arrow_div {
    margin-right: 55px;
    width: fit-content;
    text-align: center;
    flex: 1;
}

.right_arrow_div {
    margin-left: 50px;
    width: fit-content;
    text-align: center;
    flex: 1;
}
.product_arrows {
    color: black;    
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 10px;
}
.product_arrows:hover {
    font-size: 50px;
    text-decoration: none;   
    color: #F2891C; 
}
.product_arrows_disabled {
    color: black;    
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 10px;
    opacity: 0.5;
}

.product_title_div {
    flex: 8;
    font-size: 4vw;
    margin: auto;
    width: fit-content;
    margin-bottom: 10px;
    white-space: nowrap;
}

.product_image_div {
    width: fit-content;
    height: fit-content;
    padding: 5px 5px 5px 5px;
}

.product_info_div {
    width: fit-content;
}

.product_image {
    width: 300px;
    height: 300px;
}

.spice_div {
    margin-top: 10px;
    margin-bottom: 10px;
}

.chilli_icon {
    height: 40px;
}
.faded {
    opacity: 0.3;
}

.price_div {
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-size: xx-large;
}

.price_computer {
    display: none;
}
.price_phone {
    display: inline-block;
}

.currency {
    margin-right: 5px;
}

.product_desc_div {
    text-align: center;
    margin-top: 20px;
    width: 90%;
    max-width: 500px;
    font-size: large;
}


@media all and (max-width: 900px) {
    .product_title_div {
        font-size: xx-large;
    }
}
@media all and (min-width: 900px) {
    .product_desc_div {
        font-size: x-large;
    }
}

@media all and (min-width: 1200px) {
    .product_title_div {
        font-size: 45px;
    }
}


@media all and (min-width: 750px) {
    .price_phone {
        display: none;
    }
    .computer_layout {
        width: fit-content;
        display: flex;
    }
    .left_product {
        flex: 1;
        max-width: 500px;
    }
    .right_product {
        margin-top: 0;
        height: 300px;
        flex: 1;
        max-width: 500px;
        display: flex;
        align-items: center;
    }
    .right_product_inner {
        height: fit-content;
    }
    .price_computer {
        display: inline;
    }
}