{% extends 'base.html' %}

{% block content %}
<nav>
    <a href="/internal">Menu</a>
    <br>
    <a href="/internal/create">Create</a>
    <br>
    <a href="/internal/edit">Edit</a>
</nav>
<div>
    <h2>This is only visible to you Ben</h2>
    <ul>
        {% for product in products %}
        <li>
            <h4>{{ product.name }}</h4>
            <img src="{{product.image}}" width="100px" height="100px" />
        </li>
        {% empty %}
        <li>No products yet</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}