{% extends 'base.html' %}
{% load static %}

{% block content %}

<section>
    <div class="product_details_div">
        <div class="top_container">
            <div class="left_arrow_div centered">
                {% if previous_product_id %}
                    <a class="product_arrows" href="/product/{{previous_product_id}}"><</a>
                {% else %}
                    <a class="product_arrows_disabled"><</a>
                {% endif %}
            </div>
            <div class="product_title_div">
                <span>{{product.name}}</span>
            </div>
            <div class="right_arrow_div centered">
                {% if next_product_id %}
                    <a class="product_arrows" href="/product/{{next_product_id}}">></a>
                    {% else %}
                    <a class="product_arrows_disabled">></a>
                {% endif %}
            </div>
        </div>
        
        <div class="computer_layout centered">
            <div class="left_product">
                <div class="product_image_div black_border orange_bg centered">
                    <img src="{{product.image.url}}" class="product_image" />
                </div>
                <div class="product_info_div centered">
                    <div class="spice_div">
                        {% for i in "12345" %}
                            {% if i|add:"-1" < product.spice_level %}
                            <img src="{% static 'images/chilli.png' %}" class="chilli_icon"/>
                            {% else %}
                            <img src="{% static 'images/chilli.png' %}" class="chilli_icon faded"/>
                            {% endif %}
                        {% endfor %}
                    </div>
                    
                    <div class="price_phone">
                        {% if product.sizes.all|length == 0 %}
                            Coming soon!
                        {% else %}
                        <div class="centered" style="width: fit-content; margin-bottom: 10px;">
                            <select class="centered" style="font-size: x-large;" name="option_size" onchange="document.getElementById('price_value').textContent = this.options[this.selectedIndex].getAttribute('data-price')">
                                {% for size in product.sizes.all|dictsortreversed:"size" %}
                                    <option data-price="{{ size.price }}">{{ size.size }} g</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="price_div black_border orange_bg centered">
                            <span class="currency">€</span>
                            <span id="price_value">{{ biggest_size_option.price|floatformat:2 }}</span>
                        </div>
                        {% endif %} 
                    </div>
                </div>
            </div>
            <div class="right_product centered">
                <div class="right_product_inner">
                    <div class="product_desc_div centered">
                        <p>{{product.desc}}</p>
                    </div>
                    <div class="price_computer centered">
                        {% if product.sizes.all|length == 0 %}
                        <div class="price_div black_border orange_bg centered">
                            <span>Coming soon!</span>
                        </div>
                        {% else %}
                        <div class="computer_select_div centered" style="width: fit-content;">
                            <select style="font-size: large;" name="option_computer_size" onchange="document.getElementById('price_computer_value').textContent = this.options[this.selectedIndex].getAttribute('data-price')">
                                {% for size in product.sizes.all|dictsortreversed:"size" %}
                                    <option data-price="{{ size.price }}">{{ size.size }} g</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="price_div black_border orange_bg centered">
                            <span class="currency">€</span>
                            <span id="price_computer_value">{{ biggest_size_option.price|floatformat:2 }}</span>
                        </div>
                        {% endif %}  
                    </div>
                </div>
            </div>
        </div>
    </div>

        
    
</section>

<div style="width: 90%; border: 2px solid black; margin: 50px auto 10px auto;"></div>

<section>
    <div class="review_section">
        <div class="review_header centered"><span>See what our customers have to say</span></div>
        <div class="review_header centered">
            {% if average_rating == "no rating" %}
                <span style="font-size: large;">No ratings yet. Be the first!</span>
            {% else %}
                Rating: <b><span style="font-size: xx-large;">{{ average_rating|floatformat:1 }}</span></b><span style="font-size: xx-large; margin-left: 5px;">&#9733;</span>
            {% endif %}
        </div>
    </div>

    <div class="reviews_container">
        {% for review in reviews %}
            <div class="review_div orange_bg black_border">
                <div class="review_top">
                    <div class="review_name">{{review.user.username}}</div>
                    <div class="review_rating">
                        <div class="stars_div">
                            {% for i in "12345" %}
                                {% if i|add:"-1" < review.rating %}
                                    <span>&#9733;</span>
                                {% else %}
                                    <span>&#9734;</span>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="review_bottom">
                    <div class="review_content">{{review.content}}</div>
                </div>
                <div class="delete_review_div">
                    {% if user.is_authenticated %}
                        {% if review.user == user %}
                                <form method="POST" action="{% url 'delete_review' %}">
                                    {% csrf_token %}
                                    <input hidden name="review_id" value="{{review.id}}">
                                    <input hidden name="review_user_id" value="{{review.user.id}}">
                                    <input hidden name="product_id" value="{{product.id}}">
                                    <button type="submit" onclick="return confirm('Are you sure you want to delete your review?')" class="bg_cream delete_button">DELETE REVIEW</button>
                                </form>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

    {% if user.is_authenticated %}
    <div class="add_review_div centered">
        <div class="add_review_text centered">Add review</div>
        <div class="plus_icon orange_bg black_border centered" onclick="openReviewModal();">+</div>
    </div>
    {% endif %}
    <br>
</section>

<div id="myModal" class="modal black_border">
    <div class="modal-content orange_bg black_border">
        <div>
            <div class="modal_close_div"><span class="close">&times;</span></div>
            <div class="modal_title centered">Thank you for the review, {{user.username}}!</div>
            <div class="modal_form_div">
                <form method="post" action="{% url 'submit_review' %}">
                    {% csrf_token %}
                    {{ form.user }}
                    <input type="hidden" name="product_id" value="{{ product.id }}">
                    <div class="upper_form_div centered">
                        <div class="form-field" style="flex: 1;">
                            <label for="{{ form.rating.id_for_label }}">Rating:</label>
                            {{ form.rating }}<span style="font-size: x-large;"> /5</span>
                        </div>
                    </div>
                    
                    <div class="form-field">
                        <label for="{{ form.content.id_for_label }}">Content:</label>
                        {{ form.content }}
                    </div>
                    <div class="post_review_button centered">
                        <button class="modal_button bg_cream" type="submit">Post Review</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    // Get the modal
    var modal = document.getElementById('myModal');
    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    function openReviewModal() {
        modal.classList.add("show");        
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.classList.remove("show");
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.classList.remove("show");
        }
    }
    
</script>

{% endblock %}