{% extends 'base.html' %}
<h2>POOP</h2>
{% block content %}
<div class="register_container">
    <h2 class="centered" style="width: fit-content;">Reset your password here! We won't tell anyone...</h2>
    <div class="register_form_div">
        <form method="post">
            {% csrf_token %}
            {% if form.errors %}
                <p class="error">Please correct the error(s) below:</p>
            {% endif %}
            {{ form.as_p }}
            <button class="register_button orange_bg black_border" type="submit">Reset Password</button>
        </form>
    </div>
</div>
{% endblock %}